<div class="flex-container mrgtop50">

    <div>          
        <form >
            <mat-form-field appearance="fill">
                <mat-label>Company Name</mat-label>
                <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option (click)="onCompanySelect($event, option)" *ngFor="let option of filteredOptions | async"
                        [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>
    <div class="flex-container">
        <div *ngIf="result.length>0" class="flex-container">
            <mat-card [ngStyle]="{'background-color': companyESG_flag}" (click)="openDialog()">
                <mat-card-content>
                    <div [innerHtml]="companyInfo"></div>
                </mat-card-content>
            </mat-card>
        </div>

        <div *ngIf="result.length>0" class="flex-container">
            <mat-card [ngStyle]="{'background-color': Environment_flag, 'margin-left':'2px'}" (click)="openDialog()">
                <mat-card-content class="flex-container">
                    <span >Environment</span>
                    
                </mat-card-content>
            </mat-card>
            <mat-card [ngStyle]="{'background-color': Social_flag,'margin-left':'2px'}" (click)="openDialog()">
                <mat-card-content class="flex-container">
                    
                    <span >Social</span>
                    
                </mat-card-content>
            </mat-card>
            <mat-card [ngStyle]="{'background-color': Governance_flag,'margin-left':'2px'}" (click)="openDialog()">
                <mat-card-content class="flex-container">
                   
                    <span >Governance</span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>

<table *ngIf="result.length>0"  mat-table [dataSource]="dataSource" class="mat-elevation-z8 esg_table mrgtop20">


    <!-- <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef> News Title </th>
        <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
    </ng-container> -->
    <ng-container matColumnDef="PILLAR">
        <th mat-header-cell *matHeaderCellDef> Pillar </th>
        <td mat-cell *matCellDef="let element"> {{element.PILLAR}} </td>
    </ng-container>


    <ng-container matColumnDef="SUB_PILLAR">
        <th mat-header-cell *matHeaderCellDef> Sub pillar </th>
        <td mat-cell *matCellDef="let element"> {{element.SUB_PILLAR}} </td>
    </ng-container>

    <ng-container matColumnDef="PERFORMANCE_INDICATOR">
        <th mat-header-cell *matHeaderCellDef> Performance indicator </th>
        <td mat-cell *matCellDef="let element"> {{element.PERFORMANCE_INDICATOR}} </td>
    </ng-container>


    <ng-container matColumnDef="NATURE_OF_HARM">
        <th mat-header-cell *matHeaderCellDef> Nature of harm </th>
        <td mat-cell *matCellDef="let element"> {{element.NATURE_OF_HARM}} </td>
    </ng-container>


    <ng-container matColumnDef="SCALE">
        <th mat-header-cell *matHeaderCellDef> Scale </th>
        <td mat-cell *matCellDef="let element"> {{element.SCALE}} </td>
    </ng-container>


    <ng-container matColumnDef="CONTROVERSY_ASSESSMENT">
        <th mat-header-cell *matHeaderCellDef> Controversy assessment </th>
        <td mat-cell *matCellDef="let element"> {{element.CONTROVERSY_ASSESSMENT}} </td>
    </ng-container>

    <ng-container matColumnDef="STATUS">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.STATUS}} </td>
    </ng-container>


    <ng-container matColumnDef="INVOLVED">
        <th mat-header-cell *matHeaderCellDef> Involved </th>
        <td mat-cell *matCellDef="let element"> {{element.INVOLVED}} </td>
    </ng-container>


    <ng-container matColumnDef="FLAG">
        <th mat-header-cell *matHeaderCellDef>  Flag score </th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color': element.FLAG.toLowerCase()}" > {{element.FLAG_SCORE}} </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<div class="flex-container  ">    
            <!-- <div >
                <highcharts-chart *ngIf="showChart" [Highcharts]="Highcharts" [options]="columnChartOptions"
                    style="width: 100%; height: 400px; display: block;"></highcharts-chart>
            </div> -->
            <div >
                <highcharts-chart *ngIf="showChart" [Highcharts]="Highcharts" [options]="column1ChartOptions"
                    style="width: 100%; height: 400px; display: block;"></highcharts-chart>
            </div>
            <div >
                <highcharts-chart *ngIf="showChart" [Highcharts]="Highcharts" [options]="pieChartOptions"
                    style="width: 100%; height: 400px; display: block;"></highcharts-chart>
            </div>           
</div>

