.companyDropdown{
    width: 500px;
    padding: 0 0 0 38%;
}

.companyform{
        padding-top: 15px;
}

.esg_table{
    padding: 10px;
    th{
        background-color: lightgray;
    }
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container>div {

    width: 100%;
    margin: 10px;
    text-align: center;

}

.flex-container-category {
    display: flex;

}

.flex-container-category>div{
    margin: 10px;
    text-align: center;
}

.flex-container-vertical {
    
    display: flex;
    flex-direction: column;
   
        margin: 10px;
        text-align: center;
}

.padtp10{
    padding-top: 10px;
}

.mrgtop50{
    margin-top: 50px;
}
.mrgtop100{
    margin-top: 100px;
}

.mrgtop20 {
    margin-top: 20px;
}

.green{
    background-color: green;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}